.rsvp {
  bottom: 46%;
  left: 39%;
}


.rsvp img {
  max-width: 60vw;
  /* scales down on small screens */
  height: auto;
}

/* Fine-tune button size per breakpoint */
@media (max-width: 768px) {
  .rsvp img {
    max-width: 45vw;
  }
}

@media (max-width: 480px) {
  .rsvp img {
    max-width: 55vw;
  }
}